<link rel="stylesheet" href="/css/single.css"></link>
<div class="single">
<div class="container">
    <div class="jumbotron">
    	<h1>Home</h1>
    	 <p>Welcome to Cat-finder!
       <!-- {{loggedin}} -->
       </p>
    </div>
</div>
</div>
