<link rel="stylesheet" href="/css/newuser.css"></link>
<script type="text/javascript" src="/js/blogposts.js"></script>

<div>
  Insert new blogposts below.
</div>

<div id="blogpostform">
<div class="input"><input type="text" class="form-control" id="firstname" placeholder="firstname"></div>
<div class="input"><input type="text" class="form-control" id="usercontent" placeholder="content"></div>
<input type="button" class="btn btn-default" id="button" value="Click me to submit!">
</div>

<div class="largeFont">
  I ate
</div>
{{#each content}}
<div class="boxed">
  <div class="table">
    Name: {{this.firstname}}, Content: {{this.content}}
  </div>
</div>
<div class="likebutton">
<input type="button" class="btn btn-default" id="likebutton" value="Like">
</div>
<div id="changeSize">
  <input type="button" class="btn btn-default" id="changeSize" value="Change Size">
</div>
{{/each}}
