<link rel="stylesheet" href="/css/signup.css"></link>
<script type="text/javascript" src="/js/games.js"></script>

<div>
  Choose your game.
</div>

<div id="gameform">
<div class="input"><input type="text" class="form-control" id="gamename" placeholder="tetris"></div>
<input type="button" class="btn btn-default" id="button" value="Start playing!">
</div>

<iframe src="{{currentgame}}" height="400" width="600"></iframe>
