<link rel="stylesheet" href="/css/signup.css"></link>
<script type="text/javascript" src="/js/leaderboard.js"></script>

<div>
  Choose game scores to view.
</div>

<div id="scoreform">
<div class="input"><input type="text" class="form-control" id="gameid" placeholder="tetris"></div>
<input type="button" class="btn btn-default" id="button" value="View scores.">
</div>

{{gamescores}}
