<link rel="stylesheet" href="/css/newuser.css"></link>
<script type="text/javascript" src="/js/newuser.js"></script>

<div class="btn btn-default" id="clickMeButton">Click Me!</div>

<div>
  Insert new user below
</div>

<div id="newuserform">
<div class="input"><input type="text" class="form-control" id="firstname" placeholder="firstname"></div>
<div class="input"><input type="text" class="form-control" id="lastname" placeholder="lastname"></div>
<div class="input"><input type="text" class="form-control" id="email" placeholder="email"></div>
<input type="button" class="btn btn-default" id="button" value="Click me to submit!">
</div>

<div class="largeFont">
  I ate
</div>
<div id="paragraphOne">
  I drank
</div>
<div>
  I slept
</div>
<div>
  I had a good
</div>
