<link rel="stylesheet" href="/css/signup.css"></link>
<script type="text/javascript" src="/js/signup.js"></script>

<div class="btn btn-default" id="clickMeButton">Click Me!</div>

<div>
  Sign-up below!
</div>

<div id="newuserform">
<div class="input"><input type="text" class="form-control" id="username" placeholder="username"></div>
<div class="input"><input type="text" class="form-control" id="password" placeholder="password"></div>
<input type="button" class="btn btn-default" id="button" value="Click me to submit!">
</div>

<div class="largeFont">
  I ate
</div>
<div id="paragraphOne">
  I drank
</div>
