div {
  color: orange;
}

.blue {
  color: blue;
}

#clickMeButton {
  box-shadow: 5px 5px 10px;
  color: #black;
}
#likebutton {
  box-shadow: 5px 5px 10px black;
  background-color: blue;
  color: white;
  margin-bottom: 10px;
}

#time {
  font-size: 20px;
  color: green;
  background-color: yellow;
  background-clip: content-box;
}

#newuserform .input {
  margin-bottom: 10px;
}

#loginform .input {
  margin-bottom: 10px;
}

#blogpostform .input {
  margin-bottom: 10px;
}

#gameform .input {
  margin-bottom: 10px;
}

#scoreform .input {
  margin-bottom: 10px;
}
